<html>
<head>   
       <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar=brand" href={% url 'main' %}>
                    Message Board 
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href={% url 'sign-up' %}>Sign Up</a></li>
                {% if user_login == False %}
                <li><a data-toggle="modal" data-target="#signin" href="#signin">Log in</a></li>
                {% else%}
                <li><a href={% url 'logout' %}>Log Out</a></li>
                <li><a>Logged in as {{user.username}}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <style type="text/css">
        .centerdv
        {
            margin-right: auto;
            margin-left: auto;
            width: 35%;
            text-align: center;
        }
        
    </style>
    
    <div class="container centerdv">
       <div class="jumbotron">
        <h1>Signup Complete!</h1>
        <a class="btn btn-primary" href={% url "main" %}>
            Return to message board
        </a>
       </div>
    </div>
    
    
    
    
</body>
</html>